{% extends 'products/base.html' %} {% load static %} {% block content %}

<div class="container my-5 pt-5">
	<h1 class="mb-4">Таблица пользователей</h1>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead class="table-light">
				<tr>
					<th>Изображение</th>
					<th>Имя пользователя</th>
					<th>Роль</th>
					<th>Электронная почта</th>
					<th>Дата регистрации</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>
						{% if user.image %}
						<img
							src="{{ user.image.url }}"
							alt="Изображение"
							width="50"
							height="50"
							class="rounded-circle"
						/>
						{% else %}
						<span>Нет изображения</span>
						{% endif %}
					</td>
					<td>{{ user.username }}</td>
					<td>
						{% if user.role == 'admin' %} Админ 
						{% elif user.role == 'manager'%} Менеджер
						{% elif user.role == 'user' %} Пользователь 
						{% else %} Неизвестно  {% endif %}
					</td>
					<td>{{ user.email }}</td>
					<td>{{ user.date_joined|date:"d M Y" }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
